{% import "/_macros" as macros %}




<section class="section hero">
    <div class="hero__content">
        <div class="hero__text">
            <h1 class="hero__heading">{{ globalHero.heroHeadline }}</h1>
        </div>
    </div>
</section>
<section class="section hero hero__logos">
    <ul class="hero__brands">
        <li class="hero__brands-item">
            <a href="https://www.bso.org/" class="hero__brands-link" aria-label="BSO" target="_blank">
            <svg class="logo logo__bso"><use xlink:href="#bso-logo"></use></svg>
            </a>
        </li>
        <li class="hero__brands-item">
            <a href="https://www.bso.org/tanglewood" class="hero__brands-link" aria-label="Tanglewood" target="_blank">
            <svg class="logo logo__tanglewood"><use xlink:href="#tanglewood-logo"></use></svg>
            </a>
        </li>
        <li class="hero__brands-item">
            <a href="https://www.bso.org/pops" class="hero__brands-link" aria-label="Pops" target="_blank">
            <svg class="logo logo__pops"><use xlink:href="#pops-logo"></use></svg>
            </a>
        </li>
        <li class="hero__brands-item">
            <a href="https://www.bso.org/symphony-hall" class="hero__brands-link" aria-label="Symphony Hall" target="_blank">
            <svg class="logo logo__symphonyhall"><use xlink:href="#symphonyhall-logo"></use></svg>
            </a>
        </li>
    </ul>
</section>
<section class="section hero hero__mobileLogos">
    <ul class="hero__brands">
        <li class="hero__brands-item">
            <a href="https://www.bso.org/" class="hero__brands-link" aria-label="BSO" target="_blank">
            <svg class="logo logo__bso"><use xlink:href="#bso-logo-sm"></use></svg>
            </a>
        </li>
        <li class="hero__brands-item">
            <a href="https://www.bso.org/tanglewood" class="hero__brands-link" aria-label="Tanglewood" target="_blank">
            <svg class="logo logo__tanglewood"><use xlink:href="#tanglewood-logo-sm"></use></svg>
            </a>
        </li>
        <li class="hero__brands-item">
            <a href="https://www.bso.org/pops" class="hero__brands-link" aria-label="Pops" target="_blank">
            <svg class="logo logo__pops"><use xlink:href="#pops-logo-sm"></use></svg>
            </a>
        </li>
        <li class="hero__brands-item">
            <a href="https://www.bso.org/symphony-hall" class="hero__brands-link" aria-label="Symphony Hall" target="_blank">
            <svg class="logo logo__symphonyhall"><use xlink:href="#symphonyhall-logo-sm"></use></svg>
            </a>
        </li>
    </ul>
</section>


