{% import "/_macros" as macros %}

{% if hero is defined and hero is instance of('craft\\elements\\db\\MatrixBlockQuery') %}
    {% if hero.count > 0 %}
        {% set hero = hero.one %}
    {% else %}
        {% set hero = false %}
    {% endif %}
{% endif %}

{% if hero is defined and hero %}
    {# set falsy defaults to simplify null checks #}
    {% set hero = {
        image: null,
        heroEyebrow: null,
        heroHeadline: null,
        heroSubheadline: null,
        heroContent: null,
        CTA: null
    }|merge(hero) %}


    <section class="section hero -gray">
        <div class="hero__content">
            <div class="hero__text">

                <h1 class="hero__heading">{{ hero.heroHeadline|default(entry.title) }}</h1>
                 
            </div>

        </div>
    </section>

{% else %}
    <section class="section container hero accent-primary">
        <div class="hero__content">
            <header class="section__header">
                <h1 class="section__heading">{{ entry.title }}</h1>
            </header>
        </div>
    </section>
{% endif %}
