{% import "/_macros" as macros %}

<nav class="siteHeader__primaryNav navigation" v-directionals>
    <ul class="navigation__list">
        {% for navItem in primaryNavigation.navItems.all %}
            {% set navEntry = navItem.ctaLink ?? null %}
            {% if navEntry %}
                <li class="navigation__item">
                    <a href="{{ navEntry.url }}"{{ navEntry.target ? ' target="' ~ navEntry.target ~ '"'}} >{{ navEntry.label }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>



