<header class="section__header">
    {% if block.eyebrow %}
        <h2 class="h6 accent-primary">{{ block.eyebrow }}</h2>
    {% endif %}
    {% if block.headline %}
        <h3 class="section__heading">{{ block.headline }}</h3>
    {% endif %}
</header>
