@use "@imarc/pronto/resources/styles/imported" as *;

.siteFooter {
  $b: &;
  background-image: url('/media/Henry Lee Higginson_2x.png');
  background-size:contain;
  background-color: var(--color-near-black);
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding: 6.25rem 0 0 0;

  &__col {
    &.-first {
      @include at(lg) {
        grid-column-start: 2;
      }
      
    }
  }

  &__content {
    display: grid;
    gap: 2.5rem;
    padding-bottom: 3.75rem;

    @include at(md) {
      // grid: "logo address" auto
      //       "social contact"
      //       "nav nav"
      //       "utility utility"
      //       / auto 1fr;
    }
    @include at(lg) {
      // grid: "info nav     nav   " auto
      //       "info social  social" auto
      //       "info utility utility" auto
      //       / 1fr 1fr 1fr;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 1fr auto;
    }

    a {
      color:var(--color-white);
    }

    &.-main {
      border-bottom: 1px solid var(--color-slate-blue);
    }
  }

  &__logo {
    max-width:10rem;
    margin-bottom: 0;
    // svg {
    //   width: 50%;
    //   height: auto;
    // }
  }

  &__info {
    grid-area: info;
    display: grid;
    gap: var(--root-gap);
    justify-items: start;

    @include at(md) {
      display: contents;
    }

    @include at(lg) {
      align-content: start;
      justify-items: start;
      display: grid;
      grid: auto / 1fr 1fr 1fr;

       > * {
         grid-column: span 2;
       }
    }
  }

  &__navigation {
    grid-area: nav;
  }


  &__social {
    grid-area: social;
    justify-content: space-between;

    @include at(lg) {
      justify-self: start;
    }
  }

  &__secondary {
    color: var(--color-gray-400);
    @include at(md) {
      grid-column-start:1;
      grid-column-end:3;
    }
    ul {
      display:flex;
      gap: 1rem;
    }
  }

  &__sponsor {
    display:flex;
    color: var(--color-gray-400);
    justify-content: flex-end;
    gap: 2rem;
    @include at(md) {
      grid-column-start:3;
      grid-column-end:5;
    }
  }

  &__subhead {
    font-size:3rem;
    color: var(--color-white);
    border-bottom: 1px solid var(--color-turquoise);
  }

  &__text {
    color: var(--color-white);
    font-size: 1.15rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    .-gray {
      color: var(--color-gray-400);
    }
    h4 {
      color: var(--color-turquoise);
      margin: 1rem 0;
    }
    p {
      font-family: Aeonik;
      padding:0;
      margin:0;
      &.-gray {
        margin: 0.5rem 0;
        line-height:1.15rem;
      }
    }
  }

  &__utility {
    grid-area: utility;
    display: flex;
    flex-flow: row wrap;
    gap: .5rem 2rem;
  }
}
