@use "@imarc/pronto/resources/styles/imported" as *;

.section {
  --accent-color: #fff;

  row-gap: 16px;
  padding: 5rem 0;

  &.hero {
    padding: 1rem 1.5rem;

     @include at(md) {
        padding: 2rem 4rem;
      }

    @include at(lg) {
      padding: 2rem 4rem 2rem 8rem;
    }

    &.hero__logos {
      @include at(md) {
        padding: 1rem 4rem;
      }

      @include at(lg) {
        padding: 1rem 4rem 1rem 8rem;
      }
    }
  }
}

