.section {
  --accent-color: #fff;

  row-gap: 16px;
  padding: 5rem 0;
  background: var(--accent-color);
  color: var(--accent-color-text);

  &.hero {
    padding: 0;
    background-color:var(--color-mid-blue);
    color:var(--color-white);
  }
}

