@use "@imarc/pronto/resources/styles/imported" as *;

.performance {
    &__breadCrumb {
        background-color: var(--color-light-gold);
        padding: 0.5rem 1.5rem;
        @include at(md) {
            padding: 0.5rem 2rem 0.5rem 4rem;
        }
        @include at(lg) {
            padding: 0.5rem 4rem 0.5rem 8rem;
        }
    }
    &__cell {
        padding: 1rem;
        border-right: thin solid var(--color-gray-200);
        color: var(--color-dark-blue);
        font-weight: bold;
        font-size: 0.9rem;
        &.-even {
            background-color: var(--color-light-gray);
        }
        &.-odd {

        }
        &.-first {
            border-left: thin solid var(--color-gray-200);
        }
        &.-header {
            border-top: thin solid var(--color-gray-200);
            border-bottom: thin solid var(--color-gray-200);
            font-weight:100;
            color: var(--color-gray-400);
        }
        &.-last {
            border-bottom: thin solid var(--color-gray-200);
        }
        //.workInfo {
            display:grid;
            grid-template-rows: auto;
            .infoItem {
                min-height: 3rem;
            }
        //}
    }
    &__dataTitle {
        font-weight: 100;
        color: var(--color-dark-gray);
    }
    &__details {
        padding: 0.5rem 1.5rem;
        @include at(md) {
            padding: 0.5rem 2rem 0.5rem 4rem;
        }
        @include at(lg) {
            padding: 0.5rem 4rem 0.5rem 8rem;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    
    &__header {
        border-bottom: 1px solid var(--color-light-gray);
        h2 {
            font-weight: 600;
            font-size: 3.5rem;
            padding: 0.75rem 0;
        }
        h3 {
            font-weight: 100;
            font-size: 2.5rem;
            padding-bottom: 0.75rem;
        }
    }
    &__headerData {
        border-bottom: 1px solid var(--color-light-gray);
        display: grid;
        font-weight: bold;
        color: var(--color-dark-blue);
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(5, 1fr) max(300px);
        }
    }
    &__headerLinks {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom:1px solid var(--color-light-gray);
    }

    &__mediaLinks {
        display: flex;
        justify-content: left;
    }

    &__program {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;

        &.-even {
            background-color: var(--color-light-gray);
        }
        .composer {
            grid-area: "composer";
        }
        
        
    }


}