.performance {
    &__breadCrumb {
        background-color: var(--color-light-gold);
    }

    &__dataTitle {
        font-weight: 100;
        color: var(--color-dark-gray);
    }
    &__header {
        border-bottom: 1px solid var(--color-light-gray);
        h3 {
            font-weight: 100;
        }
    }
    &__headerData {
        border-bottom: 1px solid var(--color-light-gray);
        display: grid;
        font-weight: bold;
        color: var(--color-dark-blue);
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(5, 1fr) max(300px);
        }
    }
    &__headerLinks {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom:1px solid var(--color-light-gray);
    }

    &__mediaLinks {
        display: flex;
        justify-content: left;
    }

    &__program {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;

        &.-even {
            background-color: var(--color-light-gray);
        }
        .composer {
            grid-area: "composer";
        }
        .workInfo {
            display:grid;
            grid-template-rows: auto;
            .infoItem {
                min-height: 3rem;
            }
        }
        
    }


}