{% import "/_macros" as macros %}

{% extends "/_blocks/baseSection" %}

{% block content %}
    <div class="basicSection__content">
        <div class="basicSection__text richText">
            {{ block.blockContent }}
        </div>
    </div>
{% endblock %}
