@use "@imarc/pronto/resources/styles/imported" as *;

.hero {
  $b: &;
  position: relative;
  z-index: 0;

  padding: 0;
  background-color:var(--color-mid-blue);
  color:var(--color-white);
  

  &__bg {
    container-type: size;
    display: grid;
    grid-area: 1 / wide / 2;
    overflow: hidden;

    > *,
    &::before,
    &::after {
      grid-area: 1 / 1;
    }

    + #{$b}__content {
      grid-row: 1 / 2;
    }

    img { 
      max-height: 100cqh;
      width: 100%;
      object-fit: cover;
    }


    &.-fade::after {
      background: radial-gradient(
        circle farthest-side at 50% 25%,
        #0000 35vw,
        #0002 45vw,
        #0004
      );
      content: '';
      z-index: 1;

      @include at(md) {
        background: radial-gradient(
          circle farthest-side at calc(50vw + min(25vw, 325px)),
          #0004 min(15vw, 195px),
          #0008 min(25vw, 325px),
          #000c
        );
      }
    }

    &.-vignette::after {
      background: radial-gradient(
        ellipse closest-side at 50% 35%,
        #0002 40vw,
        #0004
      );
      content: '';
      z-index: 1;

      @include at(md) {
        background: radial-gradient(
          ellipse at center,
          #0004 40%,
          #000c 80%
        );
      }
    }

    &.-split::after {
      content: '';
      z-index: 1;

      @include at(md) {
        background: linear-gradient(to right, #0008 50%, #0000 calc(50% + 1px));
      }
    }

    &.-colorize::before {
      content: '';
      background: var(--accent-color);
      mix-blend-mode: color;
      z-index: 1;
    }

    &.-multiply {
      background: white;
      &::before {
        content: '';
        background: var(--accent-color);
        mix-blend-mode: multiply;
        z-index: 1;
      }
    }
  }

  &__brands {
    align-items: center;
    color:var(--color-white); 
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    width:100%;
    @include at(md) {
      gap: 5rem;
    }
    .logo {
      width:100%;
      height:3rem;
      padding: .6rem .4rem .4rem;
      @include at(lg) {
        width:70%;
        height:4rem;
      }      
    }
    a {
      color: var(--color-white);
    }
    a svg {
      transition: transform .5s cubic-bezier(.19,1,.22,1);
    }
  }

  &__content {
    align-items: center;
    display: grid;
    gap: 1rem var(--root-gap);
    @include at(md) {
      padding-top: 2rem;
    }
    grid: auto / subgrid;
    z-index: 1;

    > :first-child:last-child {
      grid-column: 1 / -1;
    }
  }

  &.-gray {
    background-color: var(--color-light-gray);
    .hero__heading {
      color: var(--color-dark-blue);
      font-weight: 600;
      font-size: 2.75rem;
    }
  }

  // Natural content order for mobile
  &__image {
    order: 1;
  }

  &__heading{
    color:var(--color-white);
    font-size: 2rem;
    @include at(md) {
      font-size: 2.5rem;
    }
    
  }

  &__logos {
    border-top: 1px solid var(--color-gray-600);
    display:none;
    padding-top: 0;
    padding-bottom: 0;
    @include at(md) {
      display:grid;
    }
    
  }

  &__mobileLogos {
    border-top: 1px solid var(--color-gray-600);
    display:grid;
    @include at(md) {
      display:none;
    }
  }
  &__testimonial {
    order: 2;
  }
  &__media {
    order: 3;
  }
  &__text {
    order: 4;
    padding: 2rem 0 0 0;
  }
  &__cta {
    order: 5;
  }

  &__text,
  &__image,
  &__media,
  &__cta,
  &__testimonial {
    @include at(md) {
      order: unset;
      grid-column: span var(--span, 1);
    }
  }

  @include at(md) {
    --columns: 2;
  }

  &.-padded {
    padding: 5rem 0;

    #{$b}__text {
      padding: 0;
    }
  }

  &.-bleed {
    #{$b}__content {
      grid-column: main / wide;

      > :nth-child(2) {
        grid-column: span 2;
      }
    }
  }

  &.-center {
    #{$b}__content {
      justify-items: center;
      text-align: center;
    }
    #{$b}__text {
      padding: 4rem 0;
      max-width: fluid-rems(40, 50);
      justify-items: center;
    }
  }
}
