{% import "/_macros" as macros %}
{% extends "_layouts/main" %}
{% block content %}
    {% include '_partials/hero' with { hero: entry.hero.one } %}

    <section class="section container basicSection -richText -oneColumn">
        <div class="basicSection__content">
            <div class="basicSection__text richText">
                {{ entry.blockContent }}
            </div>
        </div>
    </section>
     

{% endblock %}