{% import "/_macros" as macros %}
{% set section = 'newsEventsPage' %}
{% extends "_layouts/main" %}
{% block content %}

   {% include '_partials/hero' with { hero: entry.hero.one } %}

    <section class="container">
        <div class="cards grid -columns-3">
            {% for article in craft.entries.section('news').all() %}
                <div class="cell card">
                    <div class="card__content">
                        <span class="card__title h3">{{ article.link }}</span>
                        <div class="card__description">
                            {{ article.publicDate|date('F jS, Y') }}
                        </div>
                        <a href="" class="card__button button -primary">Read Article</a>
                    </div>
                    <div class="card__imageWrapper">
                      <img src="https://panoramicireland.com/media/k2/items/cache/cb9c495b17bc28a44ffb50c55572ed63_XL.jpg" alt="" class="card__image">
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
