{% import "/_macros" as macros %}
{% set section = 'resourcesPage' %}
{% extends "_layouts/main" %}
{% block content %}

    {% include '_partials/hero' with entry %}

        <element-collection
            url="/resources.json"
            v-slot="{ params, noResults, data: resources }"
        >
            <div class="section resultsSection">
                <div class="section__container container">

                    <div class="filters grid -columns-4">
                        <div class="cell">
                            <label class="filters__filter field -wide">
                                Filter by Type:
                                <p-select
                                    class="accent-primary"
                                    :options="{{ craft.categories.group('resourceTypes').all()|json_encode }}"
                                    label="title"
                                    value-prop="slug"
                                    v-model="params.type"
                                ></p-select>
                            </label>
                        </div>
                        <div class="cell">
                            <label class="filters__filter field -wide">
                                Filter by Topic:
                                <p-select
                                    class="accent-primary"
                                    :options="{{ craft.categories.group('resourceTopics').all()|json_encode }}"
                                    label="title"
                                    value-prop="slug"
                                    v-model="params.type"
                                ></p-select>
                            </label>
                        </div>
                    </div>

                    <div class="grid -columns-3">
                        <div v-if="noResults" class="">
                          No resources found.
                        </div>
                        <div v-else v-for="resource of resources" class="card">
                            <div class="card__content">
                                <div class="card__tag -overlay" v-text="resource.type"></div>
                                <div class="card__title h3">
                                    <a :href="resource.url" v-text="resource.title"></a>
                                </div>
                                <div class="card__description" v-html="resource.description"></div>
                                <a class="card__cta link -wide" :href="resource.url" v-text="resource.cta"></a>
                            </div>
                            {#
                            <div class="card__imageWrapper">
                                <img class="card__background" :src="resource.image" :alt="resource.imageAltText">
                            </div>
                            #}
                        </div>
                    </div>
                </div>
            </div>
    </element-collection>

{% endblock %}
