{% import "/_macros" as macros %}
{% set section = 'newsEventsPage' %}
{% extends "_layouts/main" %}
{% block content %}
    {% set breadcrumbs = [] %}

    {% set index = craft.entries.section('pages').type('newsPage').one %}
    {% if index %}
        {% set breadcrumbs = breadcrumbs|merge([
            {
                title: index.breadcrumbTitle ?? index.title,
                url: index.url,
            }
        ]) %}
    {% endif %}

    {% include '_partials/breadcrumbs' with { breadcrumbs: breadcrumbs } %}

    {% include '_partials/hero' with { hero: {
        heroEyebrow: 'News',
        heroHeadline: entry.title,
        heroContent: entry.publicDate|date('F jS, Y'),
    } } %}

    {{ macros.renderAllBlocks(entry.contentDesigner) }}

    {#
    <div class="text-center my-5">
        {% set index = craft.entries.section('newsEventsPage').one %}
        <a class="btn btn-outline-secondary" href="{{ index.url }}">Return to {{ index.title }}</a>
    </div>
    #}


{% endblock %}