{% if entry.type == "resourceLink" %}
    {% if entry.ctaLink %}
        {% redirect entry.ctaLink %}
    {% else %}
        {% redirect "/resources" %}
    {% endif %}
{% endif %}

{% import "/_macros" as macros %}
{% set section = 'resourcesPage' %}
{% extends "_layouts/main" %}
{% block content %}
    {% set breadcrumbs = [] %}

    {% set index = craft.entries.section('pages').type('resourcesPage').one %}
    {% if index %}
        {% set breadcrumbs = breadcrumbs|merge([
            {
                title: index.breadcrumbTitle ?? index.title,
                url: index.url,
            }
        ]) %}
    {% endif %}

    {% include '_partials/breadcrumbs' with { breadcrumbs: breadcrumbs } %}

    {% if entry.resourceTopics.count and entry.publicDate %}
        {% set introduction = "#{macros.commaSeparate(entry.resourceTopics)} – #{entry.publicDate|date('F jS, Y')}" %}
    {% elseif entry.resourceTopics.count %}
        {% set introduction = macros.commaSeparate(entry.resourceTopics) %}
    {% elseif entry.publicDate %}
        {% set introduction = entry.publicDate|date('F jS, Y') %}
    {% endif %}

    {% include '_partials/hero' with { hero: {
        eyebrow: macros.commaSeparate(entry.resourceTypes),
        headline: entry.title,
        introduction: introduction,
        backgroundImage: entry.featuredImage.one
    } } %}

    <div class="section">
        <div class="section__container container">
            <div class="section__introduction -emphasized">
                {{ entry.abstract }}
            </div>
        </div>
    </div>

    {{ macros.renderAllBlocks(entry.contentDesigner) }}

{% endblock %}
