// ---------------------------------------------------------------------------
// Font Face
// ---------------------------------------------------------------------------

@mixin font-face($family-name, $file-name, $font-weight: normal, $font-style: normal) {
  @font-face {
    $font-path: '/fonts/#{$file-name}';
    font-display: auto;
    font-family: '#{$family-name}';
    font-style: $font-style;
    font-weight: $font-weight;
    src: url($font-path + '.woff2') format('woff2'), url($font-path + '.woff') format('woff');
  }
}

@mixin otf-font-face($family-name, $file-name, $font-weight: normal, $font-style: normal) {
  @font-face {
    $font-path-otf: '/fonts/#{$file-name}';
    font-display: auto;
    font-family: '#{$family-name}';
    font-style: $font-style;
    font-weight: $font-weight;
    src: url($font-path-otf + '.otf') format('opentype');
  }
}

// ---------------------------------------------------------------------------
// Aeonik
// ---------------------------------------------------------------------------

@include font-face(
  $family-name: Aeonik,
  $file-name: aeonik/aeonik-light,
  $font-weight: 300
);

@include font-face(
  $family-name: Aeonik,
  $file-name: aeonik/aeonik-light-italic,
  $font-weight: 300,
  $font-style: italic
);

@include font-face(
  $family-name: Aeonik,
  $file-name: aeonik/aeonik-regular,
  $font-weight: 400,
);

@include font-face(
  $family-name: Aeonik,
  $file-name: aeonik/aeonik-regular-italic,
  $font-weight: 400,
  $font-style: italic
);

@include font-face(
  $family-name: Aeonik,
  $file-name: aeonik/aeonik-bold,
  $font-weight: 700,
);

@include font-face(
  $family-name: Aeonik,
  $file-name: aeonik/aeonik-bold-italic,
  $font-weight: 700,
  $font-style: italic
);

// ---------------------------------------------------------------------------
// Reckless Neue
// ---------------------------------------------------------------------------

// @include font-face(
//   $family-name: RecklessNeue,
//   $file-name: reckless-neue/RecklessNeue-Thin,
//   $font-weight: 100
// );

// @include font-face(
//   $family-name: RecklessNeue,
//   $file-name: reckless-neue/RecklessNeue-ThinItalic,
//   $font-weight: 100,
//   $font-style: italic
// );

// ---------------------------------------------------------------------------
// Zichtbaar
// ---------------------------------------------------------------------------

// @include font-face(
//   $family-name: Zichtbaar,
//   $file-name: zichtbaar/Zichtbaar-Regular,
//   $font-weight: 400
// );

// @include font-face(
//   $family-name: Zichtbaar,
//   $file-name: zichtbaar/Zichtbaar-Italic,
//   $font-weight: 400,
//   $font-style: italic
// );

// @include font-face(
//   $family-name: Zichtbaar,
//   $file-name: zichtbaar/Zichtbaar-Medium,
//   $font-weight: 500
// );

// @include font-face(
//   $family-name: Zichtbaar,
//   $file-name: zichtbaar/Zichtbaar-MediumItalic,
//   $font-weight: 500,
//   $font-style: italic
// );

// @include font-face(
//   $family-name: Zichtbaar,
//   $file-name: zichtbaar/Zichtbaar-Demibold,
//   $font-weight: 600
// );

// @include font-face(
//   $family-name: Zichtbaar,
//   $file-name: zichtbaar/Zichtbaar-DemiboldItalic,
//   $font-weight: 600,
//   $font-style: italic
// );


