
{% import "/_macros" as macros %}
{% set section = 'home' %}
{% extends "_layouts/main" %}
{% block content %}

    {% include '_partials/globalHero' with { hero: {heroHeadline: globalHero.heroHeadline} } %}

    {{ macros.renderAllBlocks(entry.contentDesigner) }}

        <div class="calendar" >
            <search index-name="archived_performances"></search>
        </div>

{% endblock %}
