
{% import "/_macros" as macros %}
{% set performanceId = craft.app.request.getQueryParam('performanceId') %}
{# {% if not performanceId %}
    {% redirect '404' %}
{% endif %} #}
{% set section = 'home' %}
{% extends "_layouts/main" %}

{% block title %}
    <title>Performance Detail</title>
{% endblock %}
{% block content %}

    <search-detail
        :performance-id="'{{ performanceId }}'"
        index-name="{{ craft.utility.getPerformanceArchive }}"
        doc-key="{{ craft.utility.getDocKey }}"
        doc-host="{{ craft.utility.getTypesenseHost }}">
    </search-detail>

{% endblock %}