
{% import "/_macros" as macros %}
{% set performanceId = craft.app.request.getQueryParam('performanceId') %}
{% if not performanceId %}
    {% redirect '404' %}
{% endif %}
{% set section = 'home' %}
{% extends "_layouts/main" %}
{% block content %}

    <div class="performance__breadCrumb"><a onclick="history.back()">Back to Search Results</a></div>
    <div class="details">
        <search-detail
                :performance-id="{{ performanceId }}"
                index-name="archived_performances">
            </search-detail>
    </div>

{% endblock %}