
{% import "/_macros" as macros %}

{% set section = 'home' %}
{% extends "_layouts/main" %}
{% block content %}

    <div class="details">
        <search-history
            performance-index="{{ craft.utility.getPerformanceArchive }}"
         />

    </div>

{% endblock %}