
{% import "/_macros" as macros %}

{% set section = 'home' %}
{% extends "_layouts/main" %}

{% block title %}
    <title>Search History</title>
{% endblock %}

{% block content %}

    {% include '_partials/hero' with { hero: { heroHeadline: "Search History" }} %}
    <div class="history">
        <search-history
            performance-index="{{ craft.utility.getPerformanceArchive }}"
            artist-index="{{ craft.utility.getArtistArchive }}"
            work-index="{{ craft.utility.getWorkArchive }}"
         />

    </div>

{% endblock %}