@use "@imarc/pronto/resources/styles/imported" as *;

.history {
    padding: 0.5rem 1.5rem;
    @include at(md) {
        padding: 0.5rem 2rem 0.5rem 4rem;
    }
    @include at(lg) {
        padding: 0.5rem 4rem 0.5rem 8rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        @include at(md) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        padding: 3rem 0 5rem;
    }

    &__artists,
    &__performances,
    &__works {
        padding-top: 2rem;
    }

    &__item {
        padding-top: 1rem;
        color: var(--color-mid-gray);
    }
}