@use "@imarc/pronto/resources/styles/imported" as *;

.history {
    padding: 0.5rem 1.5rem;
    @include at(md) {
        padding: 0.5rem 2rem 0.5rem 4rem;
    }
    @include at(lg) {
        padding: 0.5rem 4rem 0.5rem 8rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 2rem;
    }
}