.callout {
  background: var(--color-light-gray);
  padding: 4rem 0;
  text-align: center;
  

  .grid {
    align-items: center;
  }

  &__title {
    h3 {
       color: var(--color-dark-blue);
    }
    justify-self: left;
    text-align: left;
    vertical-align: middle;
  }

  &__content {
    text-wrap: balance;
  }

  &__actions {
    justify-self: right;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    gap: 1rem;
  }
}
