@use "@imarc/pronto/resources/styles/imported" as *;

.callout {
  background: var(--color-light-gray);
  padding: 2rem 1.5rem;
  @include at(md) {
      padding: 4rem 2rem 4rem 4rem;
  }
  @include at(lg) {
      padding: 4rem 4rem 4rem 8rem;
  }
  text-align: center;
  

  .grid {
    align-items: center;
  }

  &__title {
    h3 {
       color: var(--color-dark-blue);
    }
    justify-self: left;
    text-align: left;
    vertical-align: middle;
  }

  &__content {
    text-wrap: balance;
  }

  &__actions {
    justify-self: right;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    gap: 1rem;
  }
}
