@use "@imarc/pronto/resources/styles/imported" as *;

.callout {
  background: var(--color-light-gray);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  @include at(md) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding: 4rem 2rem 4rem 4rem;
  }
  @include at(lg) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
  text-align: center;
  

  .grid {
    align-items: center;
  }

  // &.-right {
  //   grid-column: main / span var(--cell-span);
  //   @include at(md) {
  //     grid-column: span var(--cell-span) / main;
  //   }
  // }

  &__title {
    h3 {
       color: var(--color-dark-blue);
    }
    justify-self: center;
    text-align: center;
    @include at(md) {
      justify-self: left;
      text-align: left;
    }

    vertical-align: middle;
    &.-left {
      grid-column-start: round(down, 1 + (var(--columns, 1) - var(--cell-span)) / 2, 1);
      grid-column-end: span calc(var(--cell-span) + mod(var(--columns) - var(--cell-span), 2));
      @include at(md) {
        grid-column: main / span var(--cell-span);
      }
    }
    
  }

  &__content {
    text-wrap: balance;
  }

  &__actions {
    justify-self: right;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    gap: 1rem;
    &.-right {
      grid-column-start: 1;
      grid-column-end: span calc(var(--cell-span) + mod(var(--columns) - var(--cell-span), 2));
      @include at(sm) {
        grid-column-start: round(down, 1 + (var(--columns, 1) - var(--cell-span)) / 2, 1);
      }
      @include at(md) {
        grid-column: span var(--cell-span) / main;
      }
      
    }
  }
}
