/**
 * @uses PAccordion
 */
.accordion {
    $b: &;

    --accordion-height-closed: calc(2rem + var(--root-font-size-h3));
    background: white;
    //box-shadow: var(--root-box-shadow-low);
    height: var(--accordion-height-closed);
    overflow: hidden;
    transition: height var(--root-duration-moderate) var(--root-ease-out);
    border-top: thin solid var(--color-gray-300);

    &__summary {
        align-items: center;
        cursor: pointer;
        display: grid;
        grid-auto-flow: column;
        justify-items: start;
        list-style: none;
        outline-offset: -2px;
        padding: .5rem 0;
        user-select: none;

        &::-webkit-details-marker {
          display: none;
        }
    }
    
    &__heading {
        margin: 0;
        padding: .25rem 1rem .25rem 0;
        &.-thin {
            font-weight: 100;
            color: var(--color-med-gray);
        }
    }
    
    &__iconWrapper {
        background: var(--color-white);
        display: grid;
        justify-self: end;
        padding: .5rem;
    }
    
    &__icon {
        --icon-color: var(--color-dark-blue);
        aspect-ratio: 1;
        height: var(--root-font-size-h6);
        transition: transform var(--root-duration-moderate) var(--root-ease-out);
        padding: 0.15rem;
    }
    
    &__content {
        padding: 0 .5rem 1.5rem 0;
    }
    
    &[open]:not(&.-closing) {
        height: fit-content;
        //box-shadow: var(--root-box-shadow-high);
        
        // #{$b}__iconWrapper {
        //     background: var(--color-gray-200);
        // }
        
        #{$b}__icon {
            //--icon-color: #000;
            transform: rotate(90deg);
        }
    }
}
