.audioLinkBox {
    display:none;
    &.-open {
    position:absolute;
    right: 5rem;
    margin-top: 2rem;
    z-index: 100;
    display:block;
    }
}

.audioLinks {
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid var(--color-gray-100);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color-gray-100);
    .audioLabel {
        white-space:nowrap;
        font-weight: 100;
        font-size: 1rem;
        padding: .75rem;
    }
    .audioLabel.-first,
    .audioLink.-first {
        border-bottom: thin solid var(--color-gray-100);
    }
    
    .audioLink {
        justify-content: end;
        white-space:nowrap;
        width: 100%;
        font-size: 1rem;
        padding: .75rem;
        color: var(--color-turquoise);
    }
}